.cal-event {
	display: flex;
	flex-direction: row;
}

.cal-gallery {
	padding-right: 5%;
}

.cal-gallery-month {
	display: flex;
	flex-flow: wrap;
	width: 100%;
	float: left;
	border-bottom: dashed 1px #aaa;
	padding: 0 0 20px 0;
}
.cal-gallery-month:last-child {
	border: none;
}

.cal-gallery-month li {
	list-style: none;
	width: 50%;
	margin: 10px auto;
	padding: 0;
}

.cal-gallery-month li:nth-child(2n) article {
	float: right;
	margin-right: 0;
}
.cal-gallery-month li:nth-child(2n+1) article {
	float: left;
	margin-right: 0;
}
.cal-gallery-month article {
	background: white;
	box-shadow: 2px 2px 4px #ccc;
	width: 90%;
	height: 135px;
}

@media screen and (max-width: 1024px) {
	.cal-gallery-month li {
		width: 100%;
		margin: 10px 0;
	}
	.cal-gallery-month li:nth-child(2n) article,
	.cal-gallery-month li:nth-child(2n+1) article,
	.cal-gallery-month article {
		margin: 0;
		float: left;
		width: 100%;
	}
}

.cal-gallery-month img {
	height: 135px;
	width: 135px;
}

.cal-gallery-month .conteudo {
	width: 66.66%;
	padding: 20px;
}

@media screen and (max-width: 1200px) {
	.cal-gallery-month .conteudo {
		padding: 20px 10px;
	}
}
@media screen and (max-width: 320px) {
	.cal-gallery-month .conteudo {
		padding: 15px 10px;
	}
}
.cal-gallery-month .conteudo h4 {
	margin-top: 0;
}

.title-month {
	clear: both;
	margin: 20px 0;
}