.home #galleries {
    padding-top: 40px;
}

#galleries section {
    display: flex;
    flex-flow: row;
}

#galleries .gallery {
    padding: 0 3.5em;
    position: relative;
    overflow: hidden;
    min-height: 37em;
}

#galleries .gallery header h1 {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Nunito Sans";
    width: 50%;
    line-height: 1;
}

#galleries .gallery h2 {
    font-size: 20px;
    margin-top: 5px;
    line-height: 1;
}

#galleries fieldset {
    display: flex;
    align-items: baseline;
}

#galleries fieldset label {
    padding-right: 10px;
}

#galleries fieldset:nth-child(2n) {
    padding-right: 0;
}

#galleries .select-custom {
    background-color: #fff;
    line-height: 1;
    border-radius: 4px;
    height: 38px;
}

#galleries .select-custom select {
    background-color: transparent;
    z-index: 5;
    position: relative;
    padding: 0 28px 0 5px;
    text-align: center;
    text-align-last: center;
}

#galleries .icon.fa-chevron-down {
    float: right;
    color: #999;
    right: 5px;
    top: -2em;
    font-size: 1em;
}

@media screen and (max-width: 1024px) {
    #galleries .gallery header h1 {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {

    #galleries .gallery {
        padding: 2em;
        min-height: 20em;
    }

    #galleries .gallery header h1 {
        margin-bottom: 0.5em;
    }

    #galleries .gallery header h2 {
        margin-bottom: 1em;
    }

}

@media screen and (max-width: 768px) {
    #galleries section {
        flex-flow: column;
    }
    
    #galleries .gallery {
        display: flex;
        flex-direction: column;
    }

    #galleries .gallery header h1 {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    #galleries .gallery {
        padding: 1em;
    }

}

#galleries .gallery header {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    width: 75%;
    margin: 2em 0 0.5em;
    align-items: center;
}

#galleries .gallery header.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {

    #galleries .gallery header {
        width: 66.66%;
    }

}

@media screen and (max-width: 768px) {

    #galleries .gallery header {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    #galleries .gallery header h1 {
        margin-bottom: .5em;
        font-size: 24px;
        text-align: center;
    }

    #galleries .gallery h2 {
        text-align: center;
    }

    #galleries fieldset {
        justify-content: center;
    }

    #buscador fieldset {
        flex-flow: column;
    }
}

#galleries .gallery footer {
    text-align: center;
    clear: both;
    padding: 40px;
}

#galleries .gallery .gallery-wrapper {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
    width: 75%;
    float: left;
}

#gallery-ad {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
    width: 25%;
    float: left;
    margin-top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#gallery-ad.header-collapsed {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -120px;
}

/*ad #ads-block {
	position: fixed;
}*/

#ads-block img {
    padding: 10px 15px;
    width: 100%;
}

.events-page #ads-block img {
    padding: 14px 15px;
}

@media screen and (max-width: 1200px) {
    #gallery-ad.header-collapsed {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: -180px;
    }
}

@media screen and (max-width: 1024px) {
    #galleries .gallery .gallery-wrapper {
        width: 66.66%
    }

    #gallery-ad {
        width: 33.33%
    }
}

@media screen and (max-width: 980px) {
    #gallery-ad.header-collapsed {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: -220px;
    }
}

@media screen and (max-width: 768px) {
    #galleries .gallery .gallery-wrapper {
        width: 100%;
        order: 1;
    }

    #gallery-ad {
        width: 100%;
        order: 0;
        flex-direction: row;
        margin-top: 20px;
    }

    #gallery-ad.header-collapsed {
        margin-top: 20px;
    }

    #ads-block {
        position: relative;
    }

    #ads-block a {
        width: 50%;
    }

    #ads-block img {
        margin: 0 5%;
        padding: 0px 0.7% 4em;
        width: 90%;
        height: auto;
    }

    #ads-block img:first-child {
        padding-left: 0;
    }

    #ads-block img:last-child {
        padding-right: 0;
    }
}

@media screen and (max-width: 480px) {
    #ads-block img {
        margin: 0 5%;
        width: 90%;
        padding: 10px;
    }

    #ads-block a {
        width: 50%;
    }
}

#galleries .gallery .gallery-wrapper h3,
#galleries .gallery .gallery-wrapper h4 {
    width: 100%;
}

#galleries .gallery .gallery-wrapper .media {
    -moz-animation: gallery 0.75s ease-out 0.4s forwards;
    -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
    -ms-animation: gallery 0.75s ease-out 0.4s forwards;
    animation: gallery 0.75s ease-out 0.4s forwards;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    position: relative;
    width: 33.33%;
    margin-top: 1em;
}

#galleries .gallery .gallery-wrapper .media .media-wrapper {
    overflow: hidden;
}

.home #galleries .gallery .gallery-wrapper .media,
.gallery-page #galleries .gallery .gallery-wrapper .media,
#galleries .gallery .gallery-wrapper #results .media {
    width: 32.35%;
    margin: 0.7em 0.7% 0;
}

.home #galleries .gallery .gallery-wrapper .media:first-child,
.home #galleries .gallery .gallery-wrapper .media:nth-child(3n+1),
.gallery-page #galleries .gallery .gallery-wrapper .media:first-child,
.gallery-page #galleries .gallery .gallery-wrapper .media:nth-child(3n+1),
#galleries .gallery .gallery-wrapper #results .media:nth-child(3n+1) {
    margin-left: 0;
}

.home #galleries .gallery .gallery-wrapper .media:nth-child(3n),
.gallery-page #galleries .gallery .gallery-wrapper .media:nth-child(3n),
#galleries .gallery .gallery-wrapper #results .media:nth-child(3n) {
    margin-right: 0;
}

#galleries .gallery .gallery-wrapper #results {
    width: 100%;
}

#galleries .gallery .gallery-wrapper #results .media {
    /*width: 32%;*/
    float: left;
    /*margin: 0 1.3% 0 0;*/
}

#galleries .gallery .gallery-wrapper .media a {
    display: block;
}

#galleries .gallery .gallery-wrapper .media img {
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
    width: 350px;
    height: auto;
    vertical-align: middle;
}

#galleries .gallery .gallery-wrapper .media:hover img {
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

@media screen and (max-width: 1024px) {

    #galleries .gallery .gallery-wrapper .media {
        width: 50%;
    }

    .home #galleries .gallery .gallery-wrapper .media,
    .gallery-page #galleries .gallery .gallery-wrapper .media,
    #galleries .gallery .gallery-wrapper #results .media {
        width: 49%;
        margin: 0.7em 0.2% 0;
    }

    .home #galleries .gallery .gallery-wrapper .media:first-child,
    .home #galleries .gallery .gallery-wrapper .media:nth-child(2n+1),
    .gallery-page #galleries .gallery .gallery-wrapper .media:first-child,
    .gallery-page #galleries .gallery .gallery-wrapper .media:nth-child(2n+1),
    #galleries .gallery .gallery-wrapper #results .media:nth-child(2n+1) {
        margin-left: 0;
        margin-right: 1.5%;
    }

    .home #galleries .gallery .gallery-wrapper .media:nth-child(2n),
    .gallery-page #galleries .gallery .gallery-wrapper .media:nth-child(2n),
    #galleries .gallery .gallery-wrapper #results .media:nth-child(2n) {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {

    #galleries .gallery .gallery-wrapper .media {
        /*width: 100%;*/
    }

}

@media screen and (max-width: 480px) {

    #galleries .gallery .gallery-wrapper .media {
        width: 100%;
    }

    .home #galleries .gallery .gallery-wrapper .media,
    .gallery-page #galleries .gallery .gallery-wrapper .media,
    #galleries .gallery .gallery-wrapper #results .media {
        width: 100%;
        margin: 1em 0 0 0 !important;
    }

    #galleries .gallery .gallery-wrapper .media img {
        width: 100%;
    }

}