.individual-page #galleries .gallery .gallery-wrapper .media.big {
	width: 75%;
	margin: 1em auto 2em; 
}
.individual-page #galleries .gallery .gallery-wrapper .media.big img {
	width: 100% !important;
}
@media screen and (max-width: 1200px) {
	.individual-page #galleries .gallery .gallery-wrapper .media.big {
		width: 90%;
	}
}
@media screen and (max-width: 1024px) {
	.individual-page #galleries .gallery .gallery-wrapper .media.big {
		width: 100%;
	}
}