@import url(magnific-popup.css);

.fb_iframe_widget {
    left: 0;
    top: 0;
    float: right;
    vertical-align: middle;
}
.white-popup img {
	max-width: 90%;
	max-height: 90vh;
	display: block;
	margin: 0 auto;
}
.mfp-content {
	max-width: 100%;
}
.button-group {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 16, 0.8);
	padding: 10px;
	width: 265px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 5px 5px 0 0;
}
.white-popup .cart_btns {
	position: relative;
	text-align: center;
	top: 0;
	margin-bottom: 0;
	float: left;
	vertical-align: middle;
}
.white-popup .cart_btns .my-cart-btn, .white-popup a.btn-facebook {
	padding: 0 5px;
	line-height: 1;
	height: 28px;
	font-size: 13px;
	font-weight: bold;
	float: right;
	padding: 0 10px;	
}
.white-popup a.btn-facebook {
	background-color: #4267b2;
	border-color: #4267b2;
	color: #fff;
	line-height: 28px;
}
.white-popup a.btn-facebook:hover {
	background-color: #365899;
	border-color: #365899;
}
.white-popup a.btn-facebook i.fa-facebook-square {
	padding-right: 5px;
}
.mfp-close-btn-in .mfp-close {
    color: #fff !important;
    background-color: #333;
}

@media screen and (max-width: 480px) {
	.mfp-container {
	    padding-left: 0;
	    padding-right: 0;
	}
	.white-popup img {
		max-width: 100%;
	}
}